<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<appSettings>
		<add key="ruta_log" value="C:/logs/archivo.txt"/>
		<add key="correo" value="i20130232@cibertec.edu.pe"/>
		<add key="correoPwd" value="Cibertec2024"/>
	</appSettings>
	
	
	<connectionStrings>
		<add name="cnx_bd_carro" connectionString="server=.; uid=sa; pwd=sql; Initial Catalog=BD_CARRO"/>
	</connectionStrings>
	
	
	
	
</configuration>